@{

    ViewBag.Title = "Login Page";
}


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>Get your best products at 10% discount!</p>
            <input type="submit" name="" onclick="window.location='/Account/Registration';" value="Register" /><br />
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Login and begin to trade.</h3>
                    <form id="loginForm" class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="txtEmail" type="email" class="form-control" placeholder="Your Email *" value="" />
                            </div>

                            <div class="form-group">
                                <input id="txtPassword" type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <a asp-controller="account" asp-action="changepassword">Change Password.</a>
                            <input id="btnsubmit" type="submit" class="btnRegister" value="Login" />

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <style>
        body {
        background: #DCDCDC;
        
    }
    </style>
    <script>

        $(document).ready(function () {
            $("#loginForm").on('submit', function (event) {
                console.log(event)
                event.preventDefault();


                    var Login =
                    {
                        
                        Email: $("#txtEmail").val(),
                        Password: $("#txtPassword").val()

                    };

                    $(".error").remove();

                    $.post("/Account/Login",
                        {

                            "login": Login,
                        },
                        function (response) {

                            var res = response.split("|");
                            debugger;
                            if ($.trim(res[0]) === "1") {
                                //SuccessMessage("#registerForm", "Registration created successfully...");
                                alert(res[1]);
                                var location = window.location.origin + "/Product/GetAllProducts";
                                window.location.href = location;
                                $("#AppDiv").removeClass("Submitloader");
                            }

                            else {
                                alert(res[1]);
                                var location = window.location.origin + "/Account/Login";
                                window.location.href = location;
                                $("#AppDiv").removeClass("Submitloader");

                            }
                        });


            });
        });
    </script>
</div>