@{

    ViewBag.Title = "Registration Page";
}


    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>Get your best products at 10% discount!</p>
                <input type="submit" name="" onclick="window.location='/Account/Login';" value="Login" /><br />
            </div>
            <div class="col-md-9 register-right">
                @*<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                    </li>
                </ul>*@
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Register and begin to trade</h3>
                        <form id="registerForm" class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="txtFirstName" type="text" class="form-control" placeholder="First Name *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input id="txtLastName" type="text" class="form-control" placeholder="Last Name *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input id="txtPassword" type="password" minlength="8" class="form-control" placeholder="Password *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input id="txtConfirmPassword" type="password" minlength="8" class="form-control" placeholder="Confirm Password *" value="" required />
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="txtEmail" type="email" class="form-control" placeholder="Your Email *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="14" id="txtPhoneNo" class="form-control" placeholder="Your Phone *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input id="txtAddress" type="text" class="form-control" placeholder="Your Address *" value="" required />
                                </div>
                                <div class="form-group">
                                    <select id="txtRoles" required" class="form-control" asp-items="Html.GetEnumSelectList<RolesEnum>()">
                                        <option value="">Please Select Roles</option>
                                    </select>
                                </div>
                                <input id="btnsubmit" type="submit" class="btnRegister" value="Register" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <style>
            body {
                background: #DCDCDC;
            }
        </style>

        <script>

            $(document).ready(function () {
                $("#registerForm").on('submit', function (event) {
                    console.log(event)
                    event.preventDefault();
                    var msg = confirm("Are you sure you want to create this application?");
                    //Serialize the form datas.
                    if (msg === true) {

                        var Registration =
                        {

                            FirstName: $("#txtFirstName").val(),
                            LastName: $("#txtLastName").val(),
                            Address: $("#txtAddress").val(),
                            Email: $("#txtEmail").val(),
                            RolesEnum: $("#txtRoles").val(),
                            Password: $("#txtPassword").val(),
                            PhoneNumber: $("#txtPhoneNo").val(),
                            Password1: $("#txtConfirmPassword").val()

                        };

                        $(".error").remove();

                        var password = $("#txtPassword").val();
                        var confirmPassword = $("#txtConfirmPassword").val();
                        if (password != confirmPassword) {
                            alert("Passwords do not match.");
                            return false;
                        }



                        $.post("/Account/Registration",
                            {

                                "registration": Registration,
                            },
                            function (response) {

                                var res = response.split("|");
                                debugger;
                                if ($.trim(res[0]) === "1") {
                                    //SuccessMessage("#registerForm", "Registration created successfully...");
                                    alert(res[1]);
                                    var location = window.location.origin + "/Product/GetAllProducts";
                                    window.location.href = location;
                                    $("#AppDiv").removeClass("Submitloader");
                                }

                                else {
                                    alert(res[1]);
                                    var location = window.location.origin + "/Account/Registration";
                                    window.location.href = location;
                                    $("#AppDiv").removeClass("Submitloader");

                                }
                            });
                    }

                });
            });
        </script>

    </div>